body{
  margin: 0px;
  padding: 0px;
}

img{
  display: block;
  height: 160px;
  width: 100px;
  margin-left: 20px;
  border: black solid 2px;
  border-radius: 10px;
}

input{
  box-sizing: border-box;
  display: block;
  width: 150px;
  margin-bottom: 5px;

}

button{
  box-sizing: border-box;
  display: block;
  width: 150px;
  background-color: navajowhite;
}